<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Imagens</title>
<style>
table th{
border:1px solid #f2f2f2;
font-family:Verdana;
font-size:11px;
padding:5px;
text-align:left;
font-weight:normal;
}
table td{
border:1px solid #f2f2f2;
border-collapse:collapse;
font-family:Verdana;
font-size:11px;
padding:5px;
text-align:center;
}
.resultado{
border-collapse:collapse;
margin:0 0;

}
</style>
</head>

<body>
<table cellpadding="0" cellspacing="0">
	<tr>
		<th>btnAdicionar.gif</th>
		<td><img src="btnAdicionar.gif" /></td>
	</tr>
	<tr>
		<th>btnConsultar.gif</th>
		<td><img src="btnConsultar.gif" /></td>
	</tr>
	
	<tr>
		<th>btnVoltar.gif</th>
		<td><img src="btnVoltar.gif" /></td>
	</tr>
	<tr>
		<th>btnSalvar.gif</th>
		<td><img src="btnSalvar.gif" /></td>
	</tr>
	<tr>
		<th>icoCalendario.gif</th>
		<td><img src="icoCalendario.gif" /></td>
	</tr>
	<tr>
		<th>icoCalendarioRoxo.gif</th>
		<td><img src="icoCalendarioRoxo.gif" /></td>
	</tr>
	<tr>
		<th>icoCalendarioVerde.gif</th>
		<td><img src="icoCalendarioVerde.gif" /></td>
	</tr>	
	<tr>
		<th>icoCadAberto.gif</th>
		<td><img src="icoCadAberto.gif" /></td>
	</tr>
	<tr>
		<th>icoCadFechado.gif</th>
		<td><img src="icoCadFechado.gif" /></td>
	</tr>
	<tr>
		<th>icoEditar.gif</th>
		<td><img src="icoEditar.gif" /></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
</table>
</body>
</html>
