<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Permissão Negada</title>
<style>
td{
	font-family:verdana;
	font-size:12px;

}
a:link{
	text-decoration:underline;
	color:#999999;
}
a:hover{
	text-decoration:none;
	color:#000000;
}
</style>
</head>

<body>
<table width="350px" height="205" style="background-image:url(sempermissao.gif);" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td height="105"></td>
	</tr>
	<tr>
		<td height="100" align="center">Uuário sem permissão de acesso.<br />Para solicitação de acesso,  <a href="javascript:void(window.open('http://portaldo/suporte.html','Suporte','width=800,height=500,toolbar=no,location=no,top=60,left=110,diretories=no,status=no,menubar=no,scrollbars=no,resizable=no'));">clique aqui</a>!<br /><br /><font size="1">Portal da Diretoria de Operações</font></td>
	</tr>
	
</table>
</body>
</html>
